.language {
  min-height: 100%;
  padding: 1rem;
  &__header {
    margin-top: 1rem;
    text-align: center;
  }

  &__games {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &--buttons {
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
