.game-template {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 1rem;

  &__loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    &--title {
      font-weight: 600;
      margin-bottom: 0;
      font-family: 'Open Sans';
    }

    &--answer {
      margin-top: 0;
      font-size: 4rem;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 4rem;
      font-family: 'Open Sans';

      &.is-correct {
        font-size: 3.5rem;
      }

      &.is-minimised {
        font-size: 3rem;
      }
    }
  }

  &__options {
    width: 100%;
    &--button.button {
      width: calc(50% - 1rem);
      margin: 0.5rem;
      height: auto;
      background-color: white;
      transition: all 300ms;

      &.is-correct {
        margin-top: 0;
        transition: all 300ms;
        background-color: rgba(154, 196, 84, 0.3);
        width: 70%;

        &:focus,
        &:hover {
          background-color: rgba(154, 196, 84, 0.3);
        }
      }

      &.is-wrong {
        display: none;
      }

      &.is-faded {
        opacity: 0.65;

        &:hover {
          background-color: white !important;
        }
      }

      &.is-hinted {
        background-color: rgba(154, 196, 84, 0.3);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.options-selector {
  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  button {
    margin-top: 0.5rem;
  }
}
